demo-org/main/service/flows/EscalateCases.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_To_Update</name>
        <label>Add To Update List</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>toUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iterateCases</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iterateCases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Case_Status_To_Escalate</name>
        <label>Change Case Status To Escalate</label>
        <locationX>264</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>iterateCases.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Escalated</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Update</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>EscalateCases {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EscalateCases</label>
    <loops>
        <name>iterateCases</name>
        <label>Iterate records (Cases)</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <collectionReference>records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Change_Case_Status_To_Escalate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateCases</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>updateCases</name>
        <label>Update Cases</label>
        <locationX>176</locationX>
        <locationY>542</locationY>
        <inputReference>toUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>iterateCases</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>records</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>toUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
